.button{
    font-size: 1,4em;
    background-color: #f0f0f0;
    border: none;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    outline: none;
}

.button-calc:active{
    background-color: #ccc;
}

.button-calc.double{
    grid-column: span 2;
}

.button-calc.triple{
    grid-column: span 3;
}

.button-calc.operation{
    background-color: #fa8231;
    color: #fff;
}

.button-calc.operation:active{
    background-color: #fa8231cc;
}